stanford-corenlp-4.4.0/jaxb-api-2.4.0-b180830.0359-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/pom-java-17.xml filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/protobuf-java-3.19.2.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/slf4j-simple.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/xom.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/input.txt filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/input.txt.xml filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/javax.activation-api-1.2.0-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/ejml-ddense-0.39-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/jaxb-api-2.4.0-b180830.0359.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/Makefile filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/RESOURCE-LICENSES filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/ShiftReduceDemo.java filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/joda-time-2.10.5-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/build.xml filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/corenlp.sh filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/javax.json-api-1.0-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/stanford-corenlp-4.4.0-models.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/stanford-corenlp-4.4.0-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/LIBRARY-LICENSES filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/ejml-simple-0.39.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/pom.xml filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/sutime filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/StanfordDependenciesManual.pdf filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/input.txt.out filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/stanford-corenlp-4.4.0-javadoc.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/pom-java-11.xml filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/LICENSE.txt filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/ejml-ddense-0.39.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/ejml-simple-0.39-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/javax.activation-api-1.2.0.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/jaxb-impl-2.4.0-b180830.0438-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/joda-time.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/jollyday.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/patterns filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/SemgrexDemo.java filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/ejml-core-0.39-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/istack-commons-runtime-3.0.7.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/slf4j-api.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/tokensregex filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/ejml-core-0.39.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/istack-commons-runtime-3.0.7-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/javax.json.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/jaxb-impl-2.4.0-b180830.0438.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/jollyday-0.4.9-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/CoreNLP-to-HTML.xsl filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/README.txt filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/StanfordCoreNlpDemo.java filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/stanford-corenlp-4.4.0.jar filter=lfs diff=lfs merge=lfs -text
stanford-corenlp-4.4.0/xom-1.3.7-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/slf4j-api.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/stanford-parser-4.2.0-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ParserDemo2.java filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/StanfordDependenciesManual.pdf filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ejml-core-0.39-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ejml-simple-0.39-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/lexparser.bat filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/pom.xml filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/stanford-parser.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/Makefile filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/build.xml filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/lexparser-lang-train-test.sh filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/DependencyParserDemo.java filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/LICENSE.txt filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/bin filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/slf4j-api-1.7.12-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/README.txt filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ejml-core-0.38.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ejml-ddense-0.39-sources.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/lexparser-gui.command filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/data filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/lexparser_lang.def filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/stanford-parser-4.2.0-models.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ParserDemo.java filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ShiftReduceDemo.java filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/conf filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/lexparser-gui.sh filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/lexparser-lang.sh filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/README_dependencies.txt filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ejml-simple-0.38.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/slf4j-simple.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/ejml-ddense-0.38.jar filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/lexparser-gui.bat filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/lexparser.sh filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2020-11-17/stanford-parser-4.2.0-javadoc.jar filter=lfs diff=lfs merge=lfs -text
